<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Consumo</title>
</head>
<body>
<h1>Consumo Energético</h1>
<table>
    <thead>
    <tr>
        <th>Endereço</th>
        <th>Consumo (kWh)</th>
        <th>Data de Registro</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="consumo : ${consumos}">
        <td th:text="${consumo.endereco}"></td>
        <td th:text="${consumo.consumo}"></td>
        <td th:text="${#dates.format(consumo.dataRegistro, 'dd/MM/yyyy')}"></td>
    </tr>
    </tbody>
</table>
<a href="/consumo/recomendacoes">Obter Recomendações</a>
</body>
</html>
